body {
    font-family: "Noto Sans KR", sans-serif;
    display:flex;
    background-color: #F0F0F0;
    align-items: center;
    justify-content: center;
}

.container {
    width: 500px;
    height: 1000px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

header {
    display:flex;
    width: 500px;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #4B89DC;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.headingText {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.headingTextSub {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.bodyBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.makeNumBox {
    width: 460px;
    height: 150px;
    margin-top: 20px;
}

.buyLottoBox {
    width: 460px;
    height: 200px;
    border-top: 1px solid #EEEEEE;
    margin-top: 30px;
}

.makeNumText {
    font-weight: 700;
    font-size: 18px;
}

.circleBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    margin-top: 20px;
}


.circle{
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
}

#circle1, #resultNum1, #myNum1 {
    background-color: #FBC400;
}

#circle2, #resultNum2, #myNum2 {
    background-color: #69C8F2;
}

#circle3, #resultNum3, #myNum3 {
    background-color: #FF7272;
}

#circle4, #resultNum4, #myNum4 {
    background-color: #AAAAAA;
}

#circle5, #resultNum5, #myNum5 {
    background-color: #B0D840;
}

#circle6, #resultNum6, #myNum6 {
    background-color: #FBC400;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    background-color: #4B89DC;
    color: #FFFFFF;
    border-width: 0px ;
    margin-top: 20px;
}

.buyLottoText {
    display: block;
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
}

.inputBox {
    width: 100%;
    height: 40px;
    margin-top: 15px;
}

.buyAmountText {
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px;
}

input {
    width: 380px;
    height: 37px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.totalText {
    display: block;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
}

.resultBox {
    display: flex;
    width: 460px;
    height: 460px;
    background-color: #F5F5F5;
    margin-top: 20px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
}

.resultCheckBox {
    display: flex;
    width: 430px;
    height: 180px;
    flex-direction: column;
}

.resultCheckBoxText {
    display: block;
    font-weight: 700;
    font-size: 18px;
    margin-top: 15px;
}

.thisWeekResultText {
    display: block;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
}

.myNumText {
    display: block;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
}

.myNumBox {
    display: flex;
    width: 430px;
    height: 125px;
    flex-direction: column;
}

.lottoResultBox {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #E8F4FD;
    border-radius: 5px;
}

.lottoResultText {
    font-weight: 700;
    font-size: 16px;
}
