body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
}

#mainBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    background-color: white;
    border-radius: 5px;
}

#result {
    margin-top: 20px;
    margin-bottom: 20px;
}


